# EditorConfig for consistent coding styles

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
indent_style = space

[*.{java}]
indent_size = 4
indent_style = space

[*.{cpp,h}]
indent_size = 4
indent_style = space

[*.{ts,js,json}]
indent_size = 2
indent_style = space

[*.{xml,gradle}]
indent_size = 4
indent_style = space

[*.md]
trim_trailing_whitespace = false